---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Mi enfoque en ciberseguridad se basa en una comprensión integral del
    panorama de amenazas y una evaluación continua de riesgos, permitiéndome
    desarrollar soluciones de seguridad adaptadas a las necesidades únicas de
    cada organización. Manteniéndome al día con las últimas tendencias y
    amenazas, mi objetivo va más allá de la protección de activos digitales
    actuales; busco preparar a las organizaciones para los desafíos de seguridad
    futuros en un entorno tecnológico evolutivo.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Análisis y Desarrollo en sistemas de Información"
      subtitle="2020 a 2022 en Servicio Nacional de Aprendizaje (SENA), Bogotá, Colombia"
    />
    <TimeLineElement
      title="Auditor ISO 27001"
      subtitle="2020 a 2022 en Alter technology tüv nord s.a.u."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="ANALISTA SOC, DISTRILUZ"
      subtitle="15/07/2022 - 15/01/2023, Bogotá, Colombia"
    >
    Manejo de herramientas de monitoreo SOC (Security Operation Center) para análisis y resolución de incidentes con procedimientos definidos. Investigación en URLs de ciberseguridad y elaboración de informes de análisis de eventos de seguridad informática. Trabajo en turnos rotativos 7x24 de 8 horas. Uso de herramientas de ciberseguridad de Rapid7 para la correlación de eventos y conocimientos básicos de programación.
    </TimeLineElement>
    <TimeLineElement
      title="ANALISTA DE LA SEGURIDAD DE LA INFORMACION L1, MNEMO"
      subtitle="22/03/2023 - 21/11/2023, Bogotá, Colombia"
    >
    Manejo de herramienta de monitoreo SOC con análisis y resolución de incidentes usando SIEM Qradar. Investigación en URLs de ciberseguridad y uso de herramientas como Microsoft Defender, VirusTotal y AlienVault. Análisis de cabeceras de correos para identificar elementos sospechosos y evaluación de vulnerabilidades con Qualys. Soporte en instalación de antivirus y desarrollo de plantillas en herramientas de ticketing (Service Desk). Uso de máquinas virtuales y creación de reportes sobre acciones sospechosas, incluyendo inyecciones de malware, en turnos rotativos 7x24.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">
        Curso basico en inteligencia artificial-Mintic</a
      >
    </li>
    <li>
      <a href="#" target="_blank"> IBM QRADAR Fundamentals-IBM</a>
    </li>
    <li>
      <a href="#" target="_blank"> Fortinet: NS1/NS2/NS3</a>
    </li>
    <li>
      <a href="#" target="_blank"> Qualys ”Vulnerability Management</a>
    </li>
    <li>
      <a href="#" target="_blank"> Qualys VMDR</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Analisis de vulnerabilidades</li>
    <li>Administracion de firewall</li>
    <li>Linux</li>
    <li>Microsoft Defender</li>
    <li>Siem</li>
    <li>Excel</li>
    <li>Power BI</li>
  </ul>
</BaseLayout>
