---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Mi enfoque en ciberseguridad se basa en una comprensión integral del panorama de amenazas y una evaluación continua de riesgos, permitiéndome desarrollar soluciones de seguridad adaptadas a las necesidades únicas de cada organización. Manteniéndome al día con las últimas tendencias y amenazas, mi objetivo va más allá de la protección de activos digitales actuales; busco preparar a las organizaciones para los desafíos de seguridad futuros en un entorno tecnológico evolutivo. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Análisis y Desarrollo en sistemas de Información"
      subtitle="2020 a 2022 en Servicio Nacional de Aprendizaje (SENA), Bogotá, Colombia"
    />
    <TimeLineElement
      title="Auditor ISO 27001"
      subtitle="2020 a 2022 en Alter technology tüv nord s.a.u."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="ANALISTA SOC, DISTRILUZ"
      subtitle="15/07/2022 - 15/01/2023, Bogotá, Colombia"
    >
      Manejo de herramienta de monitoreo SOC - Security Operation Center,
      análisis y resolución de incidentes conocidos con procedimientos
      definidos, Investigando y recopilando información relevante al incidente
      en distintas URL de Ciberseguridad. Análisis de alertamientos presentando
      los informes de resultados de análisis de eventos de seguridad informática
      en turnos rotativos 7x24 de 8 horas. Se manejan herramientas de
      Ciberseguridad de Rapid7 enfocadas a la correlación de eventos,
      Programación básica.
    </TimeLineElement>
    <TimeLineElement
      title="ANALISTA DE LA SEGURIDAD DE LA INFORMACION L1, MNEMO"
      subtitle="22/03/2023 - 21/11/2023, Bogotá, Colombia"
    >
      Manejo de herramienta de Monitoreo SOC - security operation center, con
      análisis y resolución de incidentes utilizando el SIEM Qradar.
      Investigando y recopilando información relevante al incidente en distintas
      URL de Ciberseguridad y herramientas como Microsoft defender, virus total,
      alien vault entre otras: análisis de cabeceras con varias herramientas
      para identificación de elementos sospechosos en los correos, y el
      correspondiente análisis de vulnerabilidades con el uso de Qualys e
      instalación de agentes en los equipos. además de prestar soporte al área
      de ingeniería en la instalación de antivirus y desarrollar plantillas e
      interfaces en las herramientas de ticketing que se utilizan en la empresa
      (Actualmente service desk). Uso de maquinas virtuales y desarrollo de
      Reportes sobre acciones sospechosas y/o maliciosas que atenten contra la
      seguridad del Sistema de informacion; identificando inyecciones de malware
      y/o código malicioso, para ser reportado directamente con el cliente, con
      turnos rotativos 7x24.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">
        Curso basico en inteligencia artificial-Mintic</a
      >
    </li>
    <li>
      <a href="#" target="_blank"> IBM QRADAR Fundamentals-IBM</a>
    </li>
    <li>
      <a href="#" target="_blank"> Fortinet: NS1/NS2/NS3</a>
    </li>
    <li>
      <a href="#" target="_blank"> Qualys ”Vulnerability Management</a>
    </li>
    <li>
      <a href="#" target="_blank"> Qualys VMDR</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Analisis de vulnerabilidades</li>
    <li>Administracion de firewall</li>
    <li>Linux</li>
    <li>Microsoft Defender</li>
    <li>Siem</li>
    <li>Excel</li>
    <li>Power BI</li>
  </ul>
</BaseLayout>
