---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola! </div>
    <div class="text-5xl font-bold">Yo soy Sneyder Naranjo</div>
    <div class="text-3xl py-3 font-bold">Analista en Ciberseguridad</div>
    <div class="py-2">
      <text class="text-lg">
        Tecn贸logo en An谩lisis y Desarrollo de Sistemas de Informaci贸n especializado en ciberseguridad. Con una s贸lida experiencia en la implementaci贸n de estrategias de seguridad inform谩tica, ofrezco soluciones integrales para proteger activos digitales cr铆ticos. Certificado como Auditor ISO 27001, combino conocimientos t茅cnicos avanzados con una comprensi贸n profunda de las mejores pr谩cticas en seguridad de la informaci贸n.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="" target="_blank">
        Conectemos</a
      >
      <a
        href="/CV Sneyder Naranjo 2023.pdf"
        download="CV Sneyder Naranjo.pdf"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Descarga mi CV
      </a>
    </div>
  </div>
</BaseLayout>
