---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-2">
  <div class="pb-2">
    &copy; {today.getFullYear()} Sneyder Naranjo
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://www.linkedin.com/in/juansolerc/" target="_blank" class="font-bold">Juan Soler</a> 
  </div>
</footer>
<style></style>
